* {
box-sizing: border-box;
border: thin solid black;
}
html, body { height: 100%; }

#left {
  width: 33.33333%;
  height: 100%;
  float: left;
}
#outside {
  width: 33.3333%;
  height: 75%;
  float: left;
}

#content-left, #content-right {
  width: 33.33333%;
  height: 75%;
  float: left;
}

#content-bottom {
  width: 100%;
  height: 25%;
  float: left;
}
#top{
  height: 25%;
  float: left;
}
#right{
  width: 100%;
  height: 25%;
  float: right;
}

#content{
  width: 75%;
  height: 100%;
  float: left;
}
